@import "/src/styles/colors.scss";

.input {
    position: relative;
    align-items: center;
    height: 5vh;
    height: 5dvh;
    width: 25vw;
    width: 25dvw;
    padding-left: 15px;
    margin-right: 10px;
    border: 1px solid $tertiary-color;
    border-radius: 8px;
    color: $tertiary-color;
    font-size: 18px;
 
    &:focus {
        border: 2px solid $primary-color;
    }

    @media screen and (max-width: 500px) {
        width: 50vw;
        width: 50dvw;
    }
}