@import "/src/styles/mixins.scss";
@import "src/styles/colors.scss";

.container {
    @include flex-center;

    &-item {
        @include flex-row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        max-height: max-content;
        width: 80%;
        min-height: 5vh;
        padding: 1rem;
        margin-bottom: 0.5em;
        color: $gray;
        font-size: 1.2em;
        border-radius: 5px;
    }

    &-divider {
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $gray;
    }

    &-checkbox {
        display: flex;
        align-items: center;
    }

    &-text {
        max-width: 60%;
        word-wrap: break-word;
        text-align: start;
        white-space: normal;
        display: block;
        text-wrap: wrap;

        @media screen and (max-width: 800px) {
            width: 40%;
        }

        &_done {
            text-decoration: line-through;
            color: $gray;
        }

        &_todo {
            text-decoration-color: transparent;
        }
    }

    &-actions {
        max-width: 30%;
        @include flex-row;
        @include flex-center;
    }
}