@import "src/styles/colors.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        max-height: max-content;
        width: 80%;
        min-height: 4vh;
        min-height: 4dvh;
        padding: 16px;
        margin-bottom: 8px;
        color: $tertiary-color;
        font-size: 19px;
        border-radius: 5px;
    }

    &-edit {
        margin-top: 11px;
    }

    &-divider {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background-color: $tertiary-color;
    }

    &-checkbox {
        display: flex;
        align-items: center;
    }

    &-text {
        display: block;
        max-width: 60%;
        word-wrap: break-word;
        text-align: start;
        white-space: normal;
        text-wrap: wrap;

        &-todo {
            text-decoration-color: transparent;
        }

        &-done {
            text-decoration: line-through;
            color: $tertiary-color;
        }

        @media screen and (max-width: 700px) {
            width: 40%;
        }
    }

    &-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 30%;
    }
}